/* ALL PAGES */

body {
    background-image: url('images/capstone_background.png');
    background-repeat: no-repeat;
    height: 800px;
    /* overflow: hidden; */
    background-size: cover;
}

html {
    font-family: "DM sans";
    display: block;
}

/* h1 {
    font-family: "DM sans"; 
    font-weight: 200;
} */

.hidden {
    display: none;
}

.showing {
    display: block;
}

/* SIGN IN + LOADING PAGES */

#signIn,
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signIn h1,
#loading h1 {
    text-align: center;
    font-size: 60px;
}

input {
    width: 300px;
    height: 30px;
    font-size: 30px;
    font-family: "DM sans";
    font-weight: 100px;
    padding: 10px;
    border: 2px solid #e7e133;
    background-color: rgb(218, 218, 218);
    border-radius: 30px;
    outline: none;
}

/* ENTER BUTTON */

#enterButton {
    display: block;
    margin: 20px auto;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;

    background-color: rgb(255, 255, 75);
    font-size: 30px;
    font-family: "DM Sans";
}

#enterButton:hover {
    background-color: rgba(255, 255, 75, 0.7);
    cursor: pointer;
}

/* FADE ANIMATION */

.fadeOut {
    animation: fadeOut 1s forwards;
}

.fadeIn {
    animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* MAIN PAGE */

#mainPage h1 {
    color: rgb(255, 255, 69);
    font-size: 50px;
    font-weight: 100px;
    padding-left: 30px;
}

#mainPage p {
    font-size: 35px;
    padding-left: 45px;
}

/* #mainPage{
    display: block;
} */


/* MAIN PAGE ANIMATION */

#mainPage {
    position: absolute;
    background-color: rgb(155, 198, 226);
    height: 100vh;
    width: 700px;
    left: 125px;
    margin-left: 10px;
}

#mainPage h1,
#mainPage p,
#mainPage ul {
    opacity: 0;
}

.animateText {
    animation: fadeText 1s forwards;
}

@keyframes fadeText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* BEGIN BUTTON */

#beginButton {
    width: 270px;
    height: 100px;
    background-color: rgb(255, 255, 75);
    border: none;
    border-radius: 20px;
    font-size: 70px;
    position: absolute;
    ;
    top: 550px;
    left: 200px;
}

#beginButton:hover {
    background-color: rgb(255, 255, 75, 0.7);
}

#mainPage ul li {
    list-style-type: none;
    font-size: 30px;
    padding-left: 30px;

}

/* SIDE BAR */

#sideBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100vh;

    background-color: rgb(137, 185, 216);
}

#sideBar .triangles {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -20px;
}

/* TASK PAGE */

/* TASK PAGE */

#task {
    position: absolute;
    top: 0;
    left: 125px;
    width: 700px;
    height: 100vh;

    background-color: rgb(155, 198, 226);
    padding: 40px;
    box-sizing: border-box;
}

#task article {
    background-color: white;

    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: scroll;
    border-radius: 20px;
}

#task h1 {
    font-size: 50px;
}

#task h2 {
    font-size: 35px;
}

#task p {
    font-size: 28px;
    line-height: 1.7;
}

/* OUTDOORS BREAK */

#outdoorsBreak {
    position: absolute;
    z-index: 3;
    top: 30px;
}